div {
	width: 400px;
	margin: 50px auto;
}

.nol {
	background-color: grey;
}

.pertama {
	/*padding & border mengubah ukuran dimensi*/
	background-color: coral;
	padding: 20px 40px 80px 160px;
	border: 5px solid black;
}

.kedua {
	/*dimensi, padding, & border, yang disesuaikan ukurannya dengan ukuran dimensi awalnya*/
	background-color: lightblue;
	width: 350px;
	padding: 20px;
	border: 5px dashed black;
}

.ketiga {
	/*menggunakan box-sizing memungkinkan kita mengatur padding dan border tanpa mengubah ukuran dimensi awalnya*/
	background-color: lightgreen;
	box-sizing: border-box;
	padding: 20px;
	border: 5px dotted black;
}

.keempat {
	/*box-sizing: content-box; adalah pengaturan default dari div*/
	background-color: pink;
	box-sizing: content-box;
	padding: 20px;
	border: 10px double black;
}